@import './index.scss';
@font-face {
  font-family: Poppins;
  src: url(./FontFamily/Poppins-Regular.ttf);
}

body {
  background-color: $light-gray;
}

div {
  border-radius: 15px;
  background-color: #fff;
  width: 400px;
  margin: 0 auto;
  margin-top: 60px;
}

h1 {
  font-family: Poppins;
  margin: 0px;
  padding-top: 10px;
  text-align: center;
}

span {
  font-family: Poppins;
  text-align: center;
  font-size: 13px;
  width: 100%;
  display: block;
  color: transparent;
}

.warningSpan {
  color: red;
}

@keyframes shake {
  0% {margin-left: 0px;}

  25% {margin-left: 2px;}

  50% {margin-left: 0px;}

  75% {margin-left: -2px;}

  100% {margin-left: 0px;}
}

.FormularioEndereco {
  padding: 0px;
  margin-top: 10px;
}

.FormularioEndereco div {
  display: block;
  margin: 0 auto;
  width: 263px;
  padding-bottom: 15px;
}

.FormularioEndereco div label{
  display: block;
  width: fit-content;
  margin: 0 auto;
  font-family: Arial;
  font-size: $title-size;
  font-weight: bold ;
  text-align: left;
  width: 260px;
}

.FormularioEndereco div input {
  width: 250px;
  height: 25px;
  border-radius: 5px;
  border: $border $light-gray;
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  padding-left: 10px;
  font-size: 12px;
}

.FormularioEndereco div input:focus {
  outline: $border $main-black;
}

.buttons {
  height: 40px;
}

.FormularioEndereco div button {
  margin-left: 20px;
  float: right;
  height: 35px;
  width: 80px;
  color: $main-white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.Blue {
  background-color: $blue;
}

.Blue:hover {
  background-color: $dark-blue;
}

.Red {
  background-color: $red;
}

.Red:hover {
  background-color: $dark-red;
}